body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: auto;
    padding: 0 16px;

    /* enable flexbox */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    /* main content should 
    take up all leftover space */
    flex-grow: 1; 
}

h1 {
    font-size: -webkit-xxx-large;
}

a:-webkit-any-link {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

.mr-1em {
    margin-right: 1em;
}

